<footer class="footer text-white text-center">
    <div class="up d-flex justify-content-around py-5">
        <div class="w-25">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
        </div>
        <div class="w-25">
            <h3>AROUND THE WEB</h3>
            <div class="icons">
                <i class="fa-brands fa-facebook p-2 border border-white border-1 rounded-5"></i>
                <i class="fa-brands fa-twitter p-2 mx-2 border border-white border-1 rounded-5"></i>
                <i class="fa-brands fa-linkedin p-2 border border-white border-1 rounded-5"></i>
                <i class="fa-solid fa-globe p-2 ms-2 border border-white border-1 rounded-5"></i>
            </div>
        </div>
        <div class="w-25">
            <h3>ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
    <div class="down text-white text-center py-4">
        Copyright © Your Website 2021
    </div>
</footer>
