.about{
    background-color: #1ABC9C;
    height: 580px;
}
.star::before{
    content: "";
    background-color: #fff;
    height: 4px;
    width: 80px;
    position: absolute;
    left: 43%;
    bottom: 46.5%
}
.star::after{
    content: "";
    background-color: #fff;
    height: 4px;
    width: 80px;
    position: absolute;
    right: 43%;
    bottom: 46.5%
}