<div class="contact text-center py-5">
    <h2 class="fs-1 fw-bold mt-4">CONATCT SECTION</h2>
    <div class="star position relative">
        <i class="fa-solid fa-star mb-3"></i>
    </div>
    <form class="w-50 mx-auto d-flex flex-column">
        <input placeholder="userName" class="form-control mb-5">
        <input placeholder="userAge" class="form-control mb-5">
        <input placeholder="userEmail" class="form-control mb-5">
        <input placeholder="userPassword" class="form-control mb-5">
        <button class="w-25 text-white btn btn-info rounded-3">Send Message</button>
    </form>
</div>

